{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
    {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
    
    {% if page.sidebar %}
      {% for s in page.sidebar %}
        {% if s.image %}
          <img src="{{ s.image | relative_url }}"
               alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
        {% endif %}
        {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
        {% if s.text %}{{ s.text | markdownify }}{% endif %}
        {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
      {% endfor %}
      
      {% if page.sidebar.nav %}
        {% include nav_list nav=page.sidebar.nav %}
      {% endif %}
    {% endif %}

    <nav class="nav__list" aria-label="카테고리">
      <input id="ac-toc" name="accordion-toc" type="checkbox" />
      <label for="ac-toc">카테고리</label>
      <ul class="nav__items">
        <li>
          <span class="nav__sub-title">카테고리</span>
          <ul>
            {% for category in site.data.categories %}
              {% assign category_posts = site.categories[category.name] %}
              {% assign category_count = category_posts | size %}
              {% if category_count > 0 %}
                <li>
                  <a href="{{ '/categories/' | relative_url }}#{{ category.slug }}">
                    {{ category.name }} ({{ category_count }})
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>
    </div>
{% endif %}
